/*FILE PER GESTIRE LO STILE DEI PULSANTI
RACCHIUDE TUTTE LE CLASSI CHE VANNO A MODIFICARE STILE PULSANTI*/

.button-icon { /*pulsante con icona svg*/
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    margin: 0; /*elimino margine inferiore che hanno di default i button in skeleton*/
}
.button-animated {
    transition: background-size ease .3s; /*vogliamo che background-size cambi, modo ease, tempo 0.3 secondi*/
}
.button-icon:hover { /*stato hover, quando passo sul pulsante aumenta la sua dimensione*/
                    /*rendo animazione più fluida con transition in button-icon*/
    background-size: 30px;
}
.button-error {
    color: red;
    border-color: red;
}
.button-success {
    color: green;
    border-color: green;
}
.button-float { /*sposto in basso pulsante per nuova operazione*/
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    padding: 0;
    border: 1px solid black;
}