header { 
    background-color: #fafafa;  
}
header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    height: 56px; /*altezza base, misura standard per alcuni tipi di header*/
    margin-left: auto; /*per centrare il max-width, applico stesso margine sia a destra che a sinistra*/
    margin-right: auto;
}
header h1, header p { /*nessuno all'interno dell'header deve avere dei margini*/
    margin: 0;
}
header h1 {
    font-size: 16px;
}
main.container {
    margin-top: 24px;
}
/*AMOUNT, attributo custom per il cambio dello stile dell'informazione dell'operazione.
 uso data-op-type come attributo custom personalizzato, se expense o income cambia stile operation amount*/
tr[data-op-type="expense"] .operation-amount { 
    color: red;
}
tr[data-op-type="income"] .operation-amount {
    color: green;
}
